

header p {
    font-style: italic;
    color: lightgray;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FCF7F7;
}

.profile {
  display: flex;
  margin: auto;
  text-align: center;
  width: 300px;
  padding: 60px;
  border-radius: 15px;
  background: lightslategray;
}

header {
  background: #FCF7F7
              url("https://res.cloudinary.com/dznf6puuv/image/upload/c_scale,w_1920/c_crop,h_500,w_1920/v1469391335/transmission_baur0f.jpg")
              no-repeat
              left
              bottom;
  height: 300px;
}
max-height: 75%
