h1 {
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
}

header p {
    font-style: italic;
    color: lightgray;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: darkgray;
}

header {
    margin: auto;
    text-align: center;
    width: 300px;
    padding: 60px;
    border-radius: 15px;
    background: lightslategray;
}


body {
    padding: 100px 0;
}
