html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media only screen and (min-device-width: 700px) and (max-device-width: 1000px) {
  body {
    font-size: large; } }
@media only screen and (max-device-width: 700px) {
  body {
    font-size: xx-large; } }
p {
  font-size: 0.9em; }

a {
  text-decoration: none;
  color: inherit; }

h2 {
  padding: 30px 0 0 0px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 5px;
  font-size: 2.5em;
  font-family: 'Just Another Hand', cursive; }

h3 {
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align: center; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #7AA5D2; }

body > section:nth-child(odd) {
  background-color: #EEEEEE; }

body > section:nth-child(even) {
  background-color: #7AA5D2; }

body > header {
  position: relative;
  text-align: center;
  background-color: #EEEEEE; }
  body > header h1 {
    font-size: 4em;
    display: inline-block;
    letter-spacing: 4px;
    font-family: 'Just Another Hand', cursive; }

body > section {
  padding: 1% 0;
  width: 100%;
  min-height: 35vh; }

@media only screen and (min-device-width: 1000px) {
  .profile {
    width: 65%;
    max-width: 500px;
    max-height: 200px; } }
@media only screen and (min-device-width: 700px) and (max-device-width: 1000px) {
  .profile {
    width: 75%; } }
@media only screen and (max-device-width: 700px) {
  .profile {
    width: 95%; } }
.me {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.profile {
  display: flex;
  margin: 3% auto;
  text-align: left;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  background-color: #262626;
  color: white; }
  .profile p {
    padding: 10px;
    font-size: 0.9em; }
  .profile img {
    height: 100px;
    border-radius: 10px;
    margin: 10px; }

nav {
  text-align: center;
  height: 2em;
  line-height: 2em;
  display: block;
  background-color: #47555E;
  color: #EEEEEE;
  padding: 0 5px;
  transition: 1s;
  letter-spacing: 2px; }
  nav a {
    font-size: 1.25em;
    padding: 0 5px; }
    nav a:hover {
      color: white; }
    nav a:before {
      content: "-"; }
    nav a:after {
      content: "-"; }

.nav-stuck {
  position: fixed;
  top: 0;
  width: 100%; }

.projects {
  padding: 1% 0; }
  .projects .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  @media only screen and (min-device-width: 1000px) {
    .projects article {
      width: 28%;
      min-width: 300px; } }
  @media only screen and (min-device-width: 700px) and (max-device-width: 1000px) {
    .projects article {
      width: 45%;
      min-width: 300px; } }
  @media only screen and (max-device-width: 700px) {
    .projects article {
      width: 90%; } }
  .projects article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2% 1%;
    transition: all;
    background-color: #EEEEEE;
    overflow: hidden;
    border: 2px solid #EEEEEE;
    transition: 0.1s; }
    .projects article:hover {
      border: 2px solid #47555E; }
    .projects article section {
      padding: 1% 0; }
    .projects article header {
      justify-content: space-between;
      margin: 1% auto; }
    .projects article aside {
      padding: 3%; }
      .projects article aside a:hover {
        transform: scale(1.05); }
      .projects article aside div {
        display: flex;
        justify-content: space-around;
        padding: 0 0 2% 0;
        font-size: 0.9em;
        color: #47555E; }
      .projects article aside p {
        color: #47555E;
        text-align: center; }
    .projects article img {
      height: 150px;
      width: 150px;
      display: block; }

.skills div {
  padding: 2%;
  text-align: center;
  font-size: 1em;
  line-height: 2; }
.skills span {
  color: #5b6b7c; }
  .skills span:after {
    content: " || "; }
  .skills span:last-child:after {
    content: ""; }
  .skills span:hover {
    color: black; }

.contact div {
  padding: 2%;
  font-size: 1.5em;
  text-align: center; }
.contact span {
  padding: 0 10px;
  color: #303841; }
  .contact span:hover {
    color: black; }

/*# sourceMappingURL=main.css.map */
